@import 'tailwindcss';
@import 'tw-animate-css';
@import '../src/shared/styles/typography.css';

@custom-variant dark (&:is(.dark *));

:root {
  --font-sans:
    'Pretendard', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto,
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;

  /* Typography */
  /* Heading (24 / 30) */
  --type-heading-b: 700 1.5rem/1.875rem var(--font-sans);
  --type-heading-s: 600 1.5rem/1.875rem var(--font-sans);
  --type-heading-m: 500 1.5rem/1.875rem var(--font-sans);
  --type-heading-r: 400 1.5rem/1.875rem var(--font-sans);

  /* Title (20 / 24) */
  --type-title-b: 700 1.25rem/1.5rem var(--font-sans);
  --type-title-s: 600 1.25rem/1.5rem var(--font-sans);
  --type-title-m: 500 1.25rem/1.5rem var(--font-sans);
  --type-title-r: 400 1.25rem/1.5rem var(--font-sans);

  /* Sub Title (18 / 22) */
  --type-sub-title-b: 700 1.125rem/1.375rem var(--font-sans);
  --type-sub-title-s: 600 1.125rem/1.375rem var(--font-sans);
  --type-sub-title-m: 500 1.125rem/1.375rem var(--font-sans);
  --type-sub-title-r: 400 1.125rem/1.375rem var(--font-sans);

  /* Body (16 / 20) */
  --type-body-b: 700 1rem/1.25rem var(--font-sans);
  --type-body-s: 600 1rem/1.25rem var(--font-sans);
  --type-body-m: 500 1rem/1.25rem var(--font-sans);
  --type-body-r: 400 1rem/1.25rem var(--font-sans);

  /* Body Small (14 / 18) */
  --type-body-small-b: 700 0.875rem/1.125rem var(--font-sans);
  --type-body-small-s: 600 0.875rem/1.125rem var(--font-sans);
  --type-body-small-m: 500 0.875rem/1.125rem var(--font-sans);
  --type-body-small-r: 400 0.875rem/1.125rem var(--font-sans);

  /* Caption (12 / 16) */
  --type-caption-b: 700 0.75rem/1rem var(--font-sans);
  --type-caption-s: 600 0.75rem/1rem var(--font-sans);
  --type-caption-m: 500 0.75rem/1rem var(--font-sans);
  --type-caption-r: 400 0.75rem/1rem var(--font-sans);

  /* Label (14 / 18) */
  --type-label-b: 700 0.875rem/1.125rem var(--font-sans);
  --type-label-s: 600 0.875rem/1.125rem var(--font-sans);
  --type-label-m: 500 0.875rem/1.125rem var(--font-sans);
  --type-label-r: 400 0.875rem/1.125rem var(--font-sans);

  --foreground: oklch(0.145 0 0);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.618 0.205 266.39);
  --primary-10: oklch(0.618 0.205 266.39 / 0.1);
  --primary-30: oklch(0.618 0.205 266.39 / 0.3);
  --primary-foreground: oklch(0.985 0 0);
  --primary-gradient: linear-gradient(
    90deg,
    oklch(0.618 0.205 266.39),
    oklch(0.393 0.159 260.14)
  );
  --primary-soft: oklch(0.751 0.129 257.09);
  --primary-soft-10: oklch(0.751 0.129 257.09 / 0.1);
  --primary-soft-30: oklch(0.751 0.129 257.09 / 0.3);
  --secondary: oklch(0.393 0.159 260.14);
  --secondary-light: oklch(0.816 0.092 262.7);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --info: oklch(0.546 0.215 262.88);
  --info-light: oklch(0.74 0.143 245.95);
  --negative: oklch(0.577 0.215 27.33);
  --negative-light: oklch(0.7 0.191 23.4);
  --notice: oklch(0.837 0.164 84.43);
  --notice-light: oklch(0.903 0.118 88.62);
  --positive: oklch(0.723 0.192 149.58);
  --positive-light: oklch(0.846 0.172 152.96);
  --fuchsia: oklch(0.698 0.297 332.14);
  --fuchsia-light: oklch(0.792 0.195 330.39);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --focused: oklch(0.729 0.286 328.03);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --font-weight-*: initial;

  --color-info: var(--info);
  --color-info-light: var(--info-light);
  --color-negative: var(--negative);
  --color-negative-light: var(--negative-light);
  --color-notice: var(--notice);
  --color-notice-light: var(--notice-light);
  --color-positive: var(--positive);
  --color-positive-light: var(--positive-light);
  --color-fuchsia: var(--fuchsia);
  --color-fuchsia-light: var(--fuchsia-light);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-10);
  --color-primary-dark: var(--primary-30);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-focused: var(--focused);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-gray-50: oklch(0.985 0.002 247.84);
  --color-gray-100: oklch(0.961 0.005 258.32);
  --color-gray-200: oklch(0.928 0.006 264.53);
  --color-gray-300: oklch(0.856 0.009 258.34);
  --color-gray-400: oklch(0.694 0.018 259.42);
  --color-gray-500: oklch(0.572 0.025 265.63);
  --color-gray-600: oklch(0.446 0.026 256.8);
  --color-gray-700: oklch(0.378 0.03 261.89);
  --color-gray-800: oklch(0.278 0.03 256.85);
  --inset-shadow-full: inset 0 0 100vmax rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .link {
    @apply hover:body-b700 hover:text-secondary text-secondary transition-colors hover:underline;
  }
}
